Flow_world_map.js
[{"id":"157f1c01.6eef04","type":"tab","label":"Flow Metar","disabled":false,"info":""},{"id":"2c04c95e.565486","type":"inject","z":"157f1c01.6eef04","name":"update interval","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/15 0-23 * * *","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["352657df.1ebb08","b0e44b7a.7f73b","f9e01aac.337548","9389cccc.304eb8","b717523b.8fbb78","751a5ede.80e0d","56e85e43.48e9e8","a14487ec.764938","d6cbca1e.4bbfd8","f42b2ed2.4e6d2","2db7f938.74a5a6","e7da0d2d.b3158","93d4b154.59207","eaa3477f.dea848","3ccdc4e1.a36b3c","1e9b9960.32c9af","9bcefdda.acbd38","5e90cc73.7add44","ccb22485.1639b","16af17ff.155bb","fdecbf85.008a68","ece6b38c.9a7c88","6f8b63ed.c4e90c"]]},{"id":"352657df.1ebb08","type":"http request","z":"157f1c01.6eef04","name":"Metar Nanjing (ZSNJ)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=ZSNJ&hoursBeforeNow=24","tls":"","x":640,"y":80,"wires":[["957e7d72.bbfc88"]]},{"id":"957e7d72.bbfc88","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":850,"y":80,"wires":[["f2a764e1.439578","9b68a572.8ca1d","47a817a0.bd28d8","76a55f38.463d28","ad293322.052c7","36b2c663.ce7afa","93ef14bc.d46bd8","713960fb.8d57f","e3eb001d.0caeb","96e566ba.456fe8"]]},{"id":"b0e44b7a.7f73b","type":"http request","z":"157f1c01.6eef04","name":"Metar Berlin-Tegel (EDDT)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=EDDT&hoursBeforeNow=24","tls":"","x":620,"y":680,"wires":[["d8857f7.79fee"]]},{"id":"d8857f7.79fee","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":850,"y":680,"wires":[["a3477500.8d468","521bb41.bbf39cc","2c039568.cc5dca","5abb06e.ef24178","2c153f77.f25308","b6ec3c8.8f55b4","64711f03.00f3c","51540ad3.c09d64","e744218f.80ac78","2522d5fd.cf20a2"]]},{"id":"865fe896.247ff8","type":"debug","z":"157f1c01.6eef04","name":"payload param Nanjing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1510,"y":120,"wires":[]},{"id":"f2a764e1.439578","type":"function","z":"157f1c01.6eef04","name":"extract station_ID","func":"if(msg.payload.response.data[0]){\n    var station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\treturn[{payload: station_ID}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":200,"wires":[["865fe896.247ff8","a04412cd.d62818"]]},{"id":"93ef14bc.d46bd8","type":"function","z":"157f1c01.6eef04","name":"extract dewpoint","func":"if(msg.payload.response.data[0]){\n\tvar dewpoint = msg.payload.response.data[0].METAR[0].dewpoint_c[0];\n\treturn[{payload: dewpoint}];\n\t}","outputs":1,"noerr":0,"x":1160,"y":440,"wires":[["865fe896.247ff8","a4072905.f4687"]]},{"id":"9b68a572.8ca1d","type":"function","z":"157f1c01.6eef04","name":"extract latitude","func":"if(msg.payload.response.data[0]){\n\tvar latitude = msg.payload.response.data[0].METAR[0].latitude[0];\n\treturn[{payload: latitude}];\n\t}","outputs":1,"noerr":0,"x":1160,"y":240,"wires":[["865fe896.247ff8","a673dea3.abc92"]]},{"id":"36b2c663.ce7afa","type":"function","z":"157f1c01.6eef04","name":"extract temperature","func":"if(msg.payload.response.data[0]){\n\tvar temperature = msg.payload.response.data[0].METAR[0].temp_c[0];\n\treturn[{payload: temperature}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":400,"wires":[["865fe896.247ff8","62866e3d.fdfd78","4b605c92.fb653c"]]},{"id":"ad293322.052c7","type":"function","z":"157f1c01.6eef04","name":"extract observation_time","func":"if(msg.payload.response.data[0]){\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\treturn[{payload: observation_time}];\n\t}","outputs":1,"noerr":0,"x":1190,"y":360,"wires":[["865fe896.247ff8","1d128b37.be0a75"]]},{"id":"76a55f38.463d28","type":"function","z":"157f1c01.6eef04","name":"extract elevation_m","func":"if(msg.payload.response.data[0]){\n\tvar elevation_m = msg.payload.response.data[0].METAR[0].elevation_m[0];\n\treturn[{payload: elevation_m}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":320,"wires":[["865fe896.247ff8","df5ae497.b1acf8"]]},{"id":"47a817a0.bd28d8","type":"function","z":"157f1c01.6eef04","name":"extract longitude","func":"if(msg.payload.response.data[0]){\n\tvar longitude = msg.payload.response.data[0].METAR[0].longitude[0];\n\treturn[{payload: longitude}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["865fe896.247ff8","fb1d5325.8c8a78"]]},{"id":"e3eb001d.0caeb","type":"function","z":"157f1c01.6eef04","name":"extract wind_speed","func":"if(msg.payload.response.data[0]){\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852); //knots to kilometers\n\treturn[{payload: wind_speed}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":520,"wires":[["865fe896.247ff8","372ab650.9d02c2","cd68f4d1.1732f8"]]},{"id":"713960fb.8d57f","type":"function","z":"157f1c01.6eef04","name":"extract wind_dir_degrees","func":"if(msg.payload.response.data[0]){\n\tvar wind_dir_degrees = msg.payload.response.data[0].METAR[0].wind_dir_degrees[0];\n\treturn[{payload: wind_dir_degrees}];\n\t}","outputs":1,"noerr":0,"x":1190,"y":480,"wires":[["703895b5.9543b4"]]},{"id":"96e566ba.456fe8","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1910,"y":80,"wires":[["a3b9ea14.22048","bdd64d76.10948","8afe089d.f7a178"]]},{"id":"a3b9ea14.22048","type":"debug","z":"157f1c01.6eef04","name":"payload all param Nanjing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2210,"y":80,"wires":[]},{"id":"470fe128.aa9ac","type":"debug","z":"157f1c01.6eef04","name":"payload param Berlin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1520,"y":720,"wires":[]},{"id":"521bb41.bbf39cc","type":"function","z":"157f1c01.6eef04","name":"extract station_ID","func":"if(msg.payload.response.data[0]){\n    var station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\treturn[{payload: station_ID}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":800,"wires":[["470fe128.aa9ac","d088e2b0.a767c"]]},{"id":"51540ad3.c09d64","type":"function","z":"157f1c01.6eef04","name":"extract dewpoint","func":"if(msg.payload.response.data[0]){\n\tvar dewpoint = msg.payload.response.data[0].METAR[0].dewpoint_c[0];\n\treturn[{payload: dewpoint}];\n\t}","outputs":1,"noerr":0,"x":1160,"y":1040,"wires":[["470fe128.aa9ac","b5aa689.f701f18"]]},{"id":"2c039568.cc5dca","type":"function","z":"157f1c01.6eef04","name":"extract latitude","func":"if(msg.payload.response.data[0]){\n\tvar latitude = msg.payload.response.data[0].METAR[0].latitude[0];\n\treturn[{payload: latitude}];\n\t}","outputs":1,"noerr":0,"x":1160,"y":840,"wires":[["470fe128.aa9ac","d5f88efd.5ab218"]]},{"id":"64711f03.00f3c","type":"function","z":"157f1c01.6eef04","name":"extract temperature","func":"if(msg.payload.response.data[0]){\n\tvar temperature = msg.payload.response.data[0].METAR[0].temp_c[0];\n\treturn[{payload: temperature}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":1000,"wires":[["470fe128.aa9ac","ec3e5814.137e38","3b51c421.f71714"]]},{"id":"b6ec3c8.8f55b4","type":"function","z":"157f1c01.6eef04","name":"extract observation_time","func":"if(msg.payload.response.data[0]){\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\treturn[{payload: observation_time}];\n\t}","outputs":1,"noerr":0,"x":1190,"y":960,"wires":[["470fe128.aa9ac","183b896c.dce827"]]},{"id":"2c153f77.f25308","type":"function","z":"157f1c01.6eef04","name":"extract elevation_m","func":"if(msg.payload.response.data[0]){\n\tvar elevation_m = msg.payload.response.data[0].METAR[0].elevation_m[0];\n\treturn[{payload: elevation_m}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":920,"wires":[["470fe128.aa9ac","34d4f6e5.edf57a"]]},{"id":"5abb06e.ef24178","type":"function","z":"157f1c01.6eef04","name":"extract longitude","func":"if(msg.payload.response.data[0]){\n\tvar longitude = msg.payload.response.data[0].METAR[0].longitude[0];\n\treturn[{payload: longitude}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":880,"wires":[["470fe128.aa9ac","8ce5fc4b.8bd028"]]},{"id":"2522d5fd.cf20a2","type":"function","z":"157f1c01.6eef04","name":"extract wind_speed","func":"if(msg.payload.response.data[0]){\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852); //knots to kilometers\n\treturn[{payload: wind_speed}];\n\t}","outputs":1,"noerr":0,"x":1170,"y":1120,"wires":[["470fe128.aa9ac","aed7625.df8fb2","c5831eea.f9e048"]]},{"id":"e744218f.80ac78","type":"function","z":"157f1c01.6eef04","name":"extract wind_dir_degrees","func":"if(msg.payload.response.data[0]){\n\tvar wind_dir_degrees = msg.payload.response.data[0].METAR[0].wind_dir_degrees[0];\n\treturn[{payload: wind_dir_degrees}];\n\t}","outputs":1,"noerr":0,"x":1190,"y":1080,"wires":[["470fe128.aa9ac","92ccd8cd.369438"]]},{"id":"a3477500.8d468","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1910,"y":680,"wires":[["5d45babc.d92a14","20ef74fe.8b174c","8afe089d.f7a178"]]},{"id":"5d45babc.d92a14","type":"debug","z":"157f1c01.6eef04","name":"payload all param Berlin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2210,"y":680,"wires":[]},{"id":"62866e3d.fdfd78","type":"ui_gauge","z":"157f1c01.6eef04","name":"Temperature","group":"1cccf617.586152","order":1,"width":"10","height":"4","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#9595ff","#ff6464","#ca3838"],"seg1":"","seg2":"","x":1550,"y":400,"wires":[]},{"id":"372ab650.9d02c2","type":"ui_gauge","z":"157f1c01.6eef04","name":"Wind Speed","group":"66b46d41.dc451c","order":1,"width":"10","height":"4","gtype":"gage","title":"","label":"km/h","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":560,"wires":[]},{"id":"1d128b37.be0a75","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":6,"width":"6","height":"3","name":"","label":"last updated","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":360,"wires":[]},{"id":"4b605c92.fb653c","type":"ui_chart","z":"157f1c01.6eef04","name":"Temperature Chart","group":"1cccf617.586152","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature in °C","dot":false,"ymin":"-10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":440,"wires":[[],[]]},{"id":"a673dea3.abc92","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":3,"width":"6","height":"1","name":"","label":"Latitude","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":240,"wires":[]},{"id":"fb1d5325.8c8a78","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":4,"width":"6","height":"1","name":"","label":"Longitude","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":280,"wires":[]},{"id":"df5ae497.b1acf8","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":5,"width":"6","height":"2","name":"","label":"Elevation in m","format":"{{msg.payload}}","layout":"col-center","x":1540,"y":320,"wires":[]},{"id":"a04412cd.d62818","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":2,"width":"6","height":"2","name":"","label":"Station code","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":200,"wires":[]},{"id":"a4072905.f4687","type":"ui_gauge","z":"157f1c01.6eef04","name":"","group":"1cccf617.586152","order":3,"width":"10","height":"4","gtype":"wave","title":"Dewpoint","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"","seg2":"","x":1560,"y":480,"wires":[]},{"id":"703895b5.9543b4","type":"ui_gauge","z":"157f1c01.6eef04","name":"","group":"66b46d41.dc451c","order":3,"width":"10","height":"4","gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":520,"wires":[]},{"id":"cd68f4d1.1732f8","type":"ui_chart","z":"157f1c01.6eef04","name":"WindSpeed Chart","group":"66b46d41.dc451c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wind Speed in km/h","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":600,"wires":[[],[]]},{"id":"ec3e5814.137e38","type":"ui_gauge","z":"157f1c01.6eef04","name":"Temperature","group":"5d8cbcba.465334","order":1,"width":"10","height":"4","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#9595ff","#ff6464","#ca3838"],"seg1":"","seg2":"","x":1550,"y":1000,"wires":[]},{"id":"aed7625.df8fb2","type":"ui_gauge","z":"157f1c01.6eef04","name":"Wind Speed","group":"e0bbd6e0.503ac","order":1,"width":"10","height":"4","gtype":"gage","title":"","label":"km/h","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":1160,"wires":[]},{"id":"183b896c.dce827","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":6,"width":"6","height":"3","name":"","label":"last updated","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":960,"wires":[]},{"id":"3b51c421.f71714","type":"ui_chart","z":"157f1c01.6eef04","name":"Temperature Chart","group":"5d8cbcba.465334","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature in °C","dot":false,"ymin":"-10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":1040,"wires":[[],[]]},{"id":"d5f88efd.5ab218","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":3,"width":"6","height":"1","name":"","label":"Latitude","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":840,"wires":[]},{"id":"8ce5fc4b.8bd028","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":4,"width":"6","height":"1","name":"","label":"Longitude","format":"{{msg.payload}}","layout":"col-center","x":1560,"y":880,"wires":[]},{"id":"34d4f6e5.edf57a","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":5,"width":"6","height":"2","name":"","label":"Elevation in m","format":"{{msg.payload}}","layout":"col-center","x":1540,"y":920,"wires":[]},{"id":"d088e2b0.a767c","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":2,"width":"6","height":"2","name":"","label":"Station code","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":800,"wires":[]},{"id":"b5aa689.f701f18","type":"ui_gauge","z":"157f1c01.6eef04","name":"","group":"5d8cbcba.465334","order":3,"width":"10","height":"4","gtype":"wave","title":"Dewpoint","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"","seg2":"","x":1560,"y":1080,"wires":[]},{"id":"92ccd8cd.369438","type":"ui_gauge","z":"157f1c01.6eef04","name":"","group":"e0bbd6e0.503ac","order":3,"width":"10","height":"4","gtype":"compass","title":"Wind Direction","label":"Degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1540,"y":1120,"wires":[]},{"id":"c5831eea.f9e048","type":"ui_chart","z":"157f1c01.6eef04","name":"WindSpeed Chart","group":"e0bbd6e0.503ac","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Wind Speed in km/h","dot":false,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":1200,"wires":[[],[]]},{"id":"e9190204.574c9","type":"inject","z":"157f1c01.6eef04","name":"Info Nanjing","topic":"","payload":"This website shows the weather information for Nanjing airport. The data is collected from www.aviationweather.gov and updated every hour. To see other station's weather information use the drop down menu in the upper left corner.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":160,"wires":[["b89ffff8.0074b"]]},{"id":"b89ffff8.0074b","type":"ui_text","z":"157f1c01.6eef04","group":"cb7c4ea5.0f4a78","order":1,"width":"6","height":"6","name":"General Information","label":"","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":160,"wires":[]},{"id":"1c6519d9.40966e","type":"inject","z":"157f1c01.6eef04","name":"Info Berlin-Tegel","topic":"","payload":"This website shows the weather information for Berlin-Tegel airport. The data is collected from www.aviationweather.gov and updated every hour. To see other station's weather information use the drop down menu in the upper left corner.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":760,"wires":[["54885f2.eb0e5a"]]},{"id":"54885f2.eb0e5a","type":"ui_text","z":"157f1c01.6eef04","group":"48e6e843.461be","order":1,"width":"6","height":"6","name":"General Information","label":"","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":760,"wires":[]},{"id":"e2fd333a.bfb778","type":"github-repo","z":"157f1c01.6eef04","github":"","name":"metar_eddt@github","username":"geos4s","usernameType":"str","repository":"realtimegis","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"sgroup04/metar_eddt.csv","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":2580,"y":760,"wires":[]},{"id":"20ef74fe.8b174c","type":"csv","z":"157f1c01.6eef04","name":"","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa","skip":"0","x":2190,"y":760,"wires":[["c8dfcb5d.746c98"]]},{"id":"c2522e0c.0667f8","type":"github-repo","z":"157f1c01.6eef04","github":"","name":"metar_zsnj@github","username":"geos4s","usernameType":"str","repository":"realtimegis","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"sgroup04/metar_zsnj.csv","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":2570,"y":160,"wires":[]},{"id":"bdd64d76.10948","type":"csv","z":"157f1c01.6eef04","name":"","sep":";","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa","skip":"0","x":2190,"y":160,"wires":[["36af93af.d06f1c"]]},{"id":"c8dfcb5d.746c98","type":"delay","z":"157f1c01.6eef04","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2360,"y":760,"wires":[["e2fd333a.bfb778"]]},{"id":"36af93af.d06f1c","type":"delay","z":"157f1c01.6eef04","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2360,"y":160,"wires":[["c2522e0c.0667f8"]]},{"id":"92e0f5f7.6e626","type":"github-repo","z":"157f1c01.6eef04","github":"","name":"metar_icao@github","username":"geos4s","usernameType":"str","repository":"realtimegis","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"sgroup04/metar_icao.csv","pathType":"str","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":2750,"y":1340,"wires":[]},{"id":"25f30155.e9bc16","type":"csv","z":"157f1c01.6eef04","name":"","sep":";","hdrin":"","hdrout":true,"multi":"mult","ret":"\\n","temp":"station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa","skip":"0","x":2290,"y":1260,"wires":[["8f589762.2e95a","76c50b5c.b58094"]]},{"id":"8f589762.2e95a","type":"delay","z":"157f1c01.6eef04","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2520,"y":1340,"wires":[["92e0f5f7.6e626"]]},{"id":"76c50b5c.b58094","type":"debug","z":"157f1c01.6eef04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2510,"y":1260,"wires":[]},{"id":"8afe089d.f7a178","type":"join","z":"157f1c01.6eef04","name":"join lines","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2140,"y":1260,"wires":[["25f30155.e9bc16"]]},{"id":"f9e01aac.337548","type":"http request","z":"157f1c01.6eef04","name":"Metar Sydney (YSSY)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=YSSY&hoursBeforeNow=24","tls":"","x":600,"y":1260,"wires":[["a25c8925.913d38"]]},{"id":"a25c8925.913d38","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1260,"wires":[["ca73708f.e392e8"]]},{"id":"ca73708f.e392e8","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1260,"wires":[["8afe089d.f7a178"]]},{"id":"9389cccc.304eb8","type":"http request","z":"157f1c01.6eef04","name":"Metar Moscow (UUEE)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=UUEE&hoursBeforeNow=24","tls":"","x":600,"y":1300,"wires":[["53a81de.fb56de4"]]},{"id":"53a81de.fb56de4","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1300,"wires":[["7be4adb.14fa1d4"]]},{"id":"7be4adb.14fa1d4","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1300,"wires":[["8afe089d.f7a178"]]},{"id":"b717523b.8fbb78","type":"http request","z":"157f1c01.6eef04","name":"Metar Tokyo (RJTT)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=RJTT&hoursBeforeNow=24","tls":"","x":600,"y":1340,"wires":[["22b52d0.d318754"]]},{"id":"22b52d0.d318754","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1340,"wires":[["2a6269ad.6429ce"]]},{"id":"2a6269ad.6429ce","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1340,"wires":[["8afe089d.f7a178"]]},{"id":"6e80f939.cd972","type":"http request","z":"157f1c01.6eef04","name":"Metar New Delhi (VIDP)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=VIDP&hoursBeforeNow=24","tls":"","x":610,"y":1380,"wires":[["71584b01.9041bc"]]},{"id":"71584b01.9041bc","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1380,"wires":[["65521cd0.9edfb4"]]},{"id":"65521cd0.9edfb4","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1380,"wires":[["8afe089d.f7a178"]]},{"id":"751a5ede.80e0d","type":"http request","z":"157f1c01.6eef04","name":"Metar Johannesburg (FAOR)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=FAOR&hoursBeforeNow=24","tls":"","x":620,"y":1420,"wires":[["871e3c3d.a566c8"]]},{"id":"871e3c3d.a566c8","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1420,"wires":[["a1f6ec0f.2cc048"]]},{"id":"a1f6ec0f.2cc048","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1420,"wires":[["8afe089d.f7a178"]]},{"id":"56e85e43.48e9e8","type":"http request","z":"157f1c01.6eef04","name":"Metar Abu Dhabi (OMAA)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=OMAA&hoursBeforeNow=24","tls":"","x":610,"y":1460,"wires":[["af137365.367df8"]]},{"id":"af137365.367df8","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1460,"wires":[["f71cb266.2eb9c8"]]},{"id":"f71cb266.2eb9c8","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1460,"wires":[["8afe089d.f7a178"]]},{"id":"a14487ec.764938","type":"http request","z":"157f1c01.6eef04","name":"Metar Cairo (HECA)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=HECA&hoursBeforeNow=24","tls":"","x":600,"y":1500,"wires":[["ef44d4e2.a5849"]]},{"id":"ef44d4e2.a5849","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1500,"wires":[["39aa5392.d3e1cc"]]},{"id":"39aa5392.d3e1cc","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1500,"wires":[["8afe089d.f7a178"]]},{"id":"d6cbca1e.4bbfd8","type":"http request","z":"157f1c01.6eef04","name":"Metar Marrakesh (GMMX)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=GMMX&hoursBeforeNow=24","tls":"","x":610,"y":1540,"wires":[["86fbb007.3a151"]]},{"id":"86fbb007.3a151","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1540,"wires":[["83962afc.d78328"]]},{"id":"83962afc.d78328","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1540,"wires":[["8afe089d.f7a178"]]},{"id":"f42b2ed2.4e6d2","type":"http request","z":"157f1c01.6eef04","name":"Metar Santiago (SCEL)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=SCEL&hoursBeforeNow=24","tls":"","x":610,"y":1580,"wires":[["6dda2115.3df088"]]},{"id":"6dda2115.3df088","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1580,"wires":[["22f93d76.d142ba"]]},{"id":"22f93d76.d142ba","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1580,"wires":[["8afe089d.f7a178"]]},{"id":"2db7f938.74a5a6","type":"http request","z":"157f1c01.6eef04","name":"Metar Rio de Janero (SBGL)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=SBGL&hoursBeforeNow=24","tls":"","x":620,"y":1620,"wires":[["b591c2c8.98c798"]]},{"id":"b591c2c8.98c798","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1620,"wires":[["33a329f.da46c56"]]},{"id":"33a329f.da46c56","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1620,"wires":[["8afe089d.f7a178"]]},{"id":"e7da0d2d.b3158","type":"http request","z":"157f1c01.6eef04","name":"Metar Bogota (SKBO)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=SKBO&hoursBeforeNow=24","tls":"","x":600,"y":1660,"wires":[["976f1c42.937d9"]]},{"id":"976f1c42.937d9","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1660,"wires":[["4c6afba3.65a584"]]},{"id":"4c6afba3.65a584","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1660,"wires":[["8afe089d.f7a178"]]},{"id":"93d4b154.59207","type":"http request","z":"157f1c01.6eef04","name":"Metar Bermuda (TXKF)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=TXKF&hoursBeforeNow=24","tls":"","x":610,"y":1700,"wires":[["576f6c4f.cf7f6c"]]},{"id":"576f6c4f.cf7f6c","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1700,"wires":[["68fe5c08.43839c"]]},{"id":"68fe5c08.43839c","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1700,"wires":[["8afe089d.f7a178"]]},{"id":"eaa3477f.dea848","type":"http request","z":"157f1c01.6eef04","name":"Metar Miami (KMIA)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=KMIA&hoursBeforeNow=24","tls":"","x":590,"y":1740,"wires":[["75d2d3d1.a12d6c"]]},{"id":"75d2d3d1.a12d6c","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1740,"wires":[["cb1ad3b5.1bf01"]]},{"id":"cb1ad3b5.1bf01","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1740,"wires":[["8afe089d.f7a178"]]},{"id":"3ccdc4e1.a36b3c","type":"http request","z":"157f1c01.6eef04","name":"Metar New York (KJFK)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=KJFK&hoursBeforeNow=24","tls":"","x":610,"y":1780,"wires":[["89f53f95.0a64a"]]},{"id":"89f53f95.0a64a","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1780,"wires":[["be1083f0.82d3f8"]]},{"id":"be1083f0.82d3f8","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1780,"wires":[["8afe089d.f7a178"]]},{"id":"1e9b9960.32c9af","type":"http request","z":"157f1c01.6eef04","name":"Metar Los Angeles (KLAX)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=KLAX&hoursBeforeNow=24","tls":"","x":620,"y":1820,"wires":[["d3adac51.9f0a5"]]},{"id":"d3adac51.9f0a5","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1820,"wires":[["c3f724dd.cdbac"]]},{"id":"c3f724dd.cdbac","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1820,"wires":[["8afe089d.f7a178"]]},{"id":"9bcefdda.acbd38","type":"http request","z":"157f1c01.6eef04","name":"Metar Kansas City (KMCI)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=KMCI&hoursBeforeNow=24","tls":"","x":610,"y":1860,"wires":[["2a95e558.f46fea"]]},{"id":"2a95e558.f46fea","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1860,"wires":[["525cac0a.84ddc4"]]},{"id":"525cac0a.84ddc4","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1860,"wires":[["8afe089d.f7a178"]]},{"id":"5e90cc73.7add44","type":"http request","z":"157f1c01.6eef04","name":"Metar Fairbanks (PAFA)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=PAFA&hoursBeforeNow=24","tls":"","x":610,"y":1900,"wires":[["10838d05.69414b"]]},{"id":"10838d05.69414b","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1900,"wires":[["594ec76f.a4ef5"]]},{"id":"594ec76f.a4ef5","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1900,"wires":[["8afe089d.f7a178"]]},{"id":"ccb22485.1639b","type":"http request","z":"157f1c01.6eef04","name":"Metar Seattle (KSEA)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=KSEA&hoursBeforeNow=24","tls":"","x":600,"y":1940,"wires":[["1add07ad.4b4888"]]},{"id":"1add07ad.4b4888","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1940,"wires":[["da00ced.e2152b"]]},{"id":"da00ced.e2152b","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1940,"wires":[["8afe089d.f7a178"]]},{"id":"16af17ff.155bb","type":"http request","z":"157f1c01.6eef04","name":"Metar Madrid (LEMD)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=LEMD&hoursBeforeNow=24","tls":"","x":600,"y":1980,"wires":[["7f0a742d.40d404"]]},{"id":"7f0a742d.40d404","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":1980,"wires":[["6636327c.723f9c"]]},{"id":"6636327c.723f9c","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":1980,"wires":[["8afe089d.f7a178"]]},{"id":"fdecbf85.008a68","type":"http request","z":"157f1c01.6eef04","name":"Metar London (EGLL)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=EGLL&hoursBeforeNow=24","tls":"","x":600,"y":2020,"wires":[["56bf7052.99de5"]]},{"id":"56bf7052.99de5","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":2020,"wires":[["188ef31f.d0886d"]]},{"id":"188ef31f.d0886d","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":2020,"wires":[["8afe089d.f7a178"]]},{"id":"ece6b38c.9a7c88","type":"http request","z":"157f1c01.6eef04","name":"Metar Bangkok (VTBD)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=VTBD&hoursBeforeNow=24","tls":"","x":610,"y":2060,"wires":[["a85abbd2.a8aa1"]]},{"id":"a85abbd2.a8aa1","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":2060,"wires":[["1167aa65.0cb13e"]]},{"id":"1167aa65.0cb13e","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":2060,"wires":[["8afe089d.f7a178"]]},{"id":"6f8b63ed.c4e90c","type":"http request","z":"157f1c01.6eef04","name":"Metar Kigali (HRYR)","method":"GET","ret":"txt","url":"https://aviationweather.gov/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&stationString=HRYR&hoursBeforeNow=24","tls":"","x":600,"y":2100,"wires":[["59b50696.720ef8"]]},{"id":"59b50696.720ef8","type":"xml","z":"157f1c01.6eef04","name":"","property":"payload","attr":"","chr":"","x":910,"y":2100,"wires":[["e4962236.9928"]]},{"id":"e4962236.9928","type":"function","z":"157f1c01.6eef04","name":"extract all param","func":"if(msg.payload.response.data[0]){\n\tvar station_ID = msg.payload.response.data[0].METAR[0].station_id[0];\n\tvar latitude = parseFloat(msg.payload.response.data[0].METAR[0].latitude[0]);\n\tvar longitude = parseFloat(msg.payload.response.data[0].METAR[0].longitude[0]);\n\tvar elevation_m = parseFloat(msg.payload.response.data[0].METAR[0].elevation_m[0]);\n\tvar observation_time = msg.payload.response.data[0].METAR[0].observation_time[0];\n\tvar temperature = parseFloat(msg.payload.response.data[0].METAR[0].temp_c[0]);\n\tvar dewpoint = parseFloat(msg.payload.response.data[0].METAR[0].dewpoint_c[0]);\n\tvar wind_dir_degrees = parseFloat(msg.payload.response.data[0].METAR[0].wind_dir_degrees[0]);\n\tvar wind_speed = Math.round(msg.payload.response.data[0].METAR[0].wind_speed_kt[0]*1.852);\n\tvar pressure_hpa = Math.round(msg.payload.response.data[0].METAR[0].altim_in_hg*33.8639);\n\t\n\tvar metarArray = [station_ID, latitude, longitude, elevation_m, observation_time, temperature, dewpoint, wind_dir_degrees, wind_speed, pressure_hpa]\n\t\n\treturn[{payload: metarArray}];\n\t}","outputs":1,"noerr":0,"x":1090,"y":2100,"wires":[["8afe089d.f7a178"]]},{"id":"1cccf617.586152","type":"ui_group","z":"","name":"Temperature","tab":"54a56f8e.aa6298","order":2,"disp":true,"width":"10","collapse":false},{"id":"66b46d41.dc451c","type":"ui_group","z":"","name":"Wind Speed","tab":"54a56f8e.aa6298","order":3,"disp":true,"width":"10","collapse":false},{"id":"cb7c4ea5.0f4a78","type":"ui_group","z":"","name":"Station Information","tab":"54a56f8e.aa6298","order":1,"disp":false,"width":"6","collapse":false},{"id":"5d8cbcba.465334","type":"ui_group","z":"","name":"Temperature","tab":"c14b2753.232ad","order":2,"disp":true,"width":"10","collapse":false},{"id":"e0bbd6e0.503ac","type":"ui_group","z":"","name":"Wind Speed","tab":"c14b2753.232ad","order":3,"disp":true,"width":"10","collapse":false},{"id":"48e6e843.461be","type":"ui_group","z":"","name":"Station information","tab":"c14b2753.232ad","order":1,"disp":false,"width":"6","collapse":false},{"id":"54a56f8e.aa6298","type":"ui_tab","z":"","name":"Nanjing","icon":"dashboard","order":1},{"id":"c14b2753.232ad","type":"ui_tab","z":"","name":"Berlin-Tegel","icon":"dashboard","order":2}]